<!DOCTYPE html>
<html>
  <head>
    <title>Invstr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'jquery.scrollbar', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'select2.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'switchery.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'pages-icons', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <%= javascript_include_tag 'feather.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'pace.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery-1.11.1.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'modernizr.custom', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery-ui.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'tether.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery-easy', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.unveil.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.ioslist.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.actual.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.scrollbar.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'select2.full.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'classie', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'switchery.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'interact.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'moment-with-locales.min', 'data-turbolinks-track': 'reload' %>



   

<!-- bootstrap js.min CDN --> 



   
    

   
	


    
   


  </head>

  <body>
    <%= yield %>
  </body>
</html>
